<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.
min.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Lista de Emprestimos</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Data Emprestimo</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos  %}
                <tr>
                    <td>{{ emprestimo.usuario }}</td>
                    <td>{{ emprestimo.data_emprestimo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>